#about {
  text-align: center;
  max-width: 1024px;
  margin: 0 auto;
  h1 {
    //color: @darkaccent;
  }
  p {
    //color: @darkaccent;
  }
  //img {
  //  border: 1px solid red;
  //  border-radius: 50%;
  //  width: 100%;
  //}
}