// Banner
#banner {
  h1 {
	font-size: 2.6em;
    position: absolute;
    left: 1.0rem;
    top: 8.0rem;
  }
  h3 {
    font-size: 2.3em;
    position: absolute;
    left: 1.0rem;
    top: 10.2rem;
  }
  img {
    max-height: 100vh;
  }
}