/*
  Contact
 */

.contact-wrapper {
  background: @color3;
  box-shadow:1px 5px 10px 0px black;
  z-index: 2;
  @media @tablet {
    padding: 4rem;
  }
  @media @desktop {
    padding: 3rem 15rem 1rem 15rem;
  }
  h1 {
    padding: 2rem 1rem 1rem 1rem;
  }
  .contact-social {
    display: flex;
    justify-content: space-around;
    a {
      text-decoration: none;
      color: #0000EC;
      font-weight: bold;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    p {
      margin: 1rem 0;
      @media @desktop {
        text-align: center;
      }
    }
    label {
      margin-bottom: .5rem;
    }
    input {
      margin: 0 0 1rem 0;
      padding: .5rem;
      border: 1px solid black;
      border-radius: 5px;
    }
    textarea {
      padding: .5rem;
      border: 1px solid black;
      border-radius: 5px;
    }
    button {
      margin: 1rem 0;
      padding: .5rem;
      border: 1px solid black;
      border-radius: 5px;
    }
    .beehive {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 0;
      width: 0;
      z-index: -1;
    }
  }
}