// Contact
#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: @darkshades;
  background-image: url("/mountain.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 60vh;
  h1 {
    color: @lightshades;
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: space-around;
    a {
      color: @lightshades;
    }
  }
  p {
    text-align: center;
    color: @lightshades;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 60%;
    margin: 0 auto;
    box-sizing: border-box;
    @media @mobile {
      min-width: 98%;
    }
    label {
      display: flex;
      flex-direction: column;
      color: @lightshades;
    }
    input {
      margin-bottom: 1em;
      padding: .5em;
      &:focus {
        border: 2px solid @main;
      }
    }
    textarea {
      margin-bottom: 1em;
      height: 3em;
      padding: .5em;
      &:focus {
        border: 2px solid @main;
      }
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 1rem;
      width: 20%;
      height: 2em;
      color: @lightshades;
      background: @lightaccent;
    }
  }
}