// Footer
footer {
  background: @main;
  padding: 5% 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  position: absolute;
  bottom: -80px;
  width: 100%;
  height: 100px;
  span {
    align-self: center;
  }
  div {
    display: flex;
    justify-content: space-around;
    a {
      max-width: 3em;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}