// Components
@import "nav.less";
@import "banner.less";
@import "about.less";
@import "skills.less";
@import "projects.less";
@import "contact.less";
@import "footer.less";

// Layout
.layout {
  background: @lightshades;
  h1 {
    font-size: 3.2em;
    margin-bottom: 1em;
    text-align: center;
  }
  h3 {
    font-size: 2.4em;
  }
  p {
    font-size: 1.2em;
  }
  li {
    font-size: 1.2em;
  }
  main {
    padding: 4em 5%;
  }
  section {
    padding: 4em 5%;
  }
  //@media @tablet {
  //  position: relative;
  //}
  //position: relative;
  //min-height: 100vh;
  //main {
  //  padding: 5% 5%;
  //  margin: 15% 0;
  //}
  //section {
  //  padding: 5% 5%;
  //  margin: 15% 0;
  //}
  //h1 {
  //  font-size: 3.2em;
  //  margin-bottom: 5%;
  //}
  //h3 {
  //  font-size: 2.2em;
  //}
}