/*
  Layout
 */

@import "banner.less";
@import "about.less";
@import "skills.less";
@import "projects.less";
@import "contact.less";
@import "footer.less";

// Styles
.layout-wrapper {
  background: @color2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}