// Nav
header {
  background: @darkaccent;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    // Reserved for Logo
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      text-decoration: none;
    }
  }
}