// Projects
#projects {
  h1 {
    color: @darkaccent;
  }
  ul {
    display: flex;
    .project-card {
      background: @darkaccent;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1em;
      padding: 2em 4em;
      h3 {
        text-align: center;
        a {
          color: @lightshades;
        }
      }
      ol {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1em;
        li {
          color: @lightshades;
          padding: 0 .5em;
          list-style-type: disc;
          list-style-position: inside;
        }
      }
      .project-img {
        padding: 2em;
        img {
          width: 100%;
        }
      }
      p {
        color: @lightshades;
      }
      ul {
        display: flex;
        flex-direction: column;
        margin: .5em 0;
        li {
          list-style-type: square;
          list-style-position: inside;
          color: @lightshades;
          margin: .5em 0;
        }
      }
      a {
        color: @lightshades;
      }
    }
  }
}