// Projects
#projects {
  h1 {
    //color: @darkaccent;
  }
  .project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .project-card {
      background: @darkaccent;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 40%;
      margin: 1em;
      padding: 2em 2em;
      h3 {
        text-align: center;
        a {
          color: @lightshades;
        }
      }
      ol {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1em;
        li {
          color: @lightshades;
          padding: 0 .5em;
          list-style-type: disc;
          list-style-position: inside;
        }
      }
      .project-img {
        max-width: 60%;
        margin: 0 auto;
        padding: 1em;
        img {
          width: 100%;
        }
      }
      p {
        color: @lightshades;
      }
      ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: .5em 0;
        li {
          list-style-type: square;
          list-style-position: inside;
          color: @lightshades;
          margin: .5em 0;
        }
      }
      .project-repo {
        color: @lightshades;
        font-size: 1.4em;
      }
    }
  }
}