// Color Theme
@lightshades: #E9ECEC; // BLACK HAZE
@lightaccent: #5F8DAC; // HIPPIE BLUE
@main: #27AEE2; // CURIOUS BLUE
@darkaccent: #1D6B8F; // MATISSE
@darkshades: #131A27; // MIRAGE

// Color Schematics
@primary: @main;
@info: @darkshades;
@success: #41AF7C; // OCEAN GREEN
@warning: #BE9F44; // TUSSOCK
@danger: #F44366; // POMEGRANATE

// Media Queries
@mobile: ~'(max-width: 768px)';
@tablet: ~'(min-width: 769px)';
@desktop: ~'(min-width: 1024px)';
@widescreen: ~'(min-width: 1216px)';
@fullhd: ~'(min-width: 1408px)';